.minigame {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    background-color: rgba(32, 32, 32, 0);
    width: 60%;
    height: 300px;
    border-radius: 20px;
}

.minigame form input {
    height: 18px;
    width: 18px;
    margin: 5px 7px;
}

.divMinigame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    
    background-color: rgba(0, 0, 0, 0.101);
    height: auto;
    max-height: 300px;
    width: 500px;
}

.buttonBack {
    display: flex;
}

.minigameFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.divMinigameFlex {
    display: flex;
    justify-content: center;
}

.divMinigameOptions {
    display: flex;
    align-items: center;
    margin: 7px 0 0 7px; 
    cursor: pointer; 
}

.divMinigameOptions p {
    margin: 1px 0 0 4px; 
}

.divMinigameOptions button {
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 20px; 
    cursor: pointer;

    transition-duration: 300ms;
}

.divMinigameOptions button:hover {
    transform: rotate(360deg);
}

.setGo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;

    margin-bottom: 20px;

}

.setGo button {
    color: black;
    font-weight: 400;
    font-size: 18px;
    height: 32px;
    width: 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.setColorBefore { color: #9ea105; }
.goColorBefore { color: #05960a; }
.setColorAfter { color: #ecf010 !important; text-shadow: 0 0 8px rgba(251, 255, 0, 0.48);}
.goColorAfter { color: #10f018 !important; text-shadow: 0 0 10px rgba(0, 255, 30, 0.833);}

.minigameTimer {
    margin-top: 5px;
    font-size: 20px;
}