<body>
  <div *ngIf="!showMiniGame" class="title">
    <h1>ClickFast!</h1>
    <p>Desafie seus amigos e descubra quem é o mais rápido!</p>
  </div>

  <!-- lobby -->
  <section class="lobbySection" *ngIf="showStartScreen">
    <div class="lobby">
      <div class="startDiv" *ngIf="showStartScreen == true">
        <div class="startTitle">
            <h1 [ngClass]="redClassBooleanTitle ? 'startRed' : ''">Escolha o numero de checkboxes!</h1>
            <p [ngClass]="redClassBoolean ? 'startRed' : ''">Limite máximo de 90</p>
            <input class="startInputCheckboxes" type="number" (keyup)="getValue($event)" [disabled]="StartDisabledCheckBox">
          </div>

          <div class="startChoices">
            <small>Ou, escolha entre os abaixos!</small>
            <form>
              <label>10 <input type="radio" name="prefabChoice" [disabled]="disableChoice"></label>
              <label>25 <input type="radio" name="prefabChoice" [disabled]="disableChoice"></label>
              <label>30 <input type="radio" name="prefabChoice" [disabled]="disableChoice"></label>
              <label>45 <input type="radio" name="prefabChoice" [disabled]="disableChoice"></label>
              <button (click)="clearChoices()">Limpar</button>
            </form>
          </div>

          <button class="startIniciar" (click)="startMiniGame()" [disabled]="StartDisabledCheckBox">Iniciar!</button>
        </div>
    </div>
  </section>

  <!-- minigame -->
  <section class="minigame" *ngIf="showMiniGame">
    <div class="minigameFlex" *ngIf="showMiniGame">
      <div class="divMinigameOptions" *ngIf="showMiniGameDisplay" (click)="endToLobby()">
        <button>↺</button>
        <p>Voltar</p>
      </div>

      <div class="setGo" *ngIf="showMiniGameDisplay">
        <h1>
          <span [ngClass]="minigameSet ? 'setColorAfter' : 'setColorBefore'">SET</span> >
          <span [ngClass]="minigameGo ? 'goColorAfter' : 'goColorBefore'">GO!</span>
        </h1>
        <button (click)="setGo()" [disabled]="minigameGo || minigameSet">{{textButtonMiniGame}}</button>
        <div class="minigameTimer">
          <span>{{watchMin}}</span> :
          <span>{{watchSec}}</span> :
          <span>{{watchMl}}</span>
        </div>
      </div>

      <div class="divMinigameFlex" *ngIf="showMiniGameDisplay">
        <form>
          <div class="divMinigame">
            <input type="checkbox"
            *ngFor="let input of inputs; index as index"
            [disabled]="index != caradavez || minigameGo == false"
            (click)="addCounter()">
          </div>
        </form>
      </div>

      <div *ngIf="this.minigameState == false && this.caradavez == this.inputs.length" class="finalOptionsMinigame">
        <div class="divMinigameOptions" (click)="endToLobby()">
          <button>↺</button>
          <p>Voltar</p>
        </div>
  
        <div class="setGo">
          <h1>
            <span [ngClass]="minigameGo ? 'goColorAfter' : 'goColorBefore'">FINAL SCORE:</span>
          </h1>
          <div class="minigameTimer">
            <span>{{watchMin}}m </span>
            <span>{{watchSec}}s </span>
            <span>{{watchMl}}ms</span>
          </div>
          <div class="minigameCheckboxesMark">{{valueId}} Checkboxes</div>
          <button class="buttonBackToLobby" (click)="endToLobby()">RESTART</button>
        </div>
      </div>
    </div>
  </section>
</body>